This is generated on the angular side!

<p>
  <a href="javascript: void(0)" (click)="loadSubComponent()">Show/Hide Sub component</a>
</p>

<br>
<div *ngIf="isSubComponentVisible">
  <app-sub></app-sub>
</div>